@import url('https://fonts.googleapis.com/css2?family=Faustina&family=Rubik:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faustina&family=Open+Sans&family=Rubik:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neuton:wght@300&display=swap');

:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: rgb(0, 127, 151);
  width: 70rem;
  margin: 0 auto;
}
